@section PageActions{
    <div style="background: #f0f0f0; padding:8px; margin-bottom:10px">
        <a asp-controller="Student" asp-action="Details" asp-route-id="1"></a>
    </div>
}
@model List<string>
@{
    ViewData["Title"] = "Students";
}

<h2>@ViewBag.Title</h2>
<p>@ViewData["SubTitle"]</p>

@if (Model != null && Model.Count > 0)
{
    <table borser="1" cellpadding="6" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var student in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@student</td>
                </tr>
                i++;
            }
            
        </tbody>
    </table>
}
else
{
    <p>No students found</p>
}